USE [Veridion]
GO
/****** Object:  Table [dbo].[veridion_analysis_best_matches]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veridion_analysis_best_matches](
	[input_row_key] [varchar](255) NULL,
	[veridion_id] [varchar](255) NULL,
	[candidate_name] [varchar](255) NULL,
	[name_similarity] [float] NULL,
	[geographic_match] [float] NULL,
	[business_context] [float] NULL,
	[overall_confidence] [float] NULL,
	[recommendation] [varchar](255) NULL,
	[match_reason] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_match_reasons_analysis]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_match_reasons_analysis] AS
WITH split_reasons AS (
    SELECT 
        input_row_key,
        veridion_id,
        candidate_name,
        name_similarity,
        geographic_match,
        business_context,
        overall_confidence,
        recommendation,
        match_reason,    
        LTRIM(RTRIM(value)) AS reason_component
    FROM veridion_analysis_best_matches
    CROSS APPLY STRING_SPLIT(match_reason, '|')
    WHERE match_reason IS NOT NULL 
    AND LTRIM(RTRIM(value)) != ''
),

cleaned_reasons AS (
    SELECT 
        input_row_key,
        veridion_id,
        candidate_name,
        name_similarity,
        geographic_match,
        business_context,
        overall_confidence,
        recommendation,
        match_reason,
        reason_component
    FROM split_reasons
)

SELECT 
    recommendation,
    reason_component,
    COUNT(*) as frequency,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY recommendation)), 2
    ) as percentage_within_recommendation,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER ()), 2
    ) as percentage_of_total
FROM cleaned_reasons
GROUP BY recommendation, reason_component;

GO
/****** Object:  View [dbo].[vw_recommendation_summary]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_recommendation_summary] AS
WITH split_reasons AS (
    SELECT 
        input_row_key,
        overall_confidence,
        recommendation
    FROM veridion_analysis_best_matches
    CROSS APPLY STRING_SPLIT(match_reason, '|')
    WHERE match_reason IS NOT NULL 
    AND LTRIM(RTRIM(value)) != ''
),

summary_stats AS (
    SELECT 
        recommendation,
        COUNT(DISTINCT input_row_key) as total_records,
        ROUND(AVG(overall_confidence), 2) as avg_confidence,
        MIN(overall_confidence) as min_confidence,
        MAX(overall_confidence) as max_confidence
    FROM split_reasons
    GROUP BY recommendation
),

grand_total AS (
    SELECT COUNT(DISTINCT input_row_key) as total_count
    FROM split_reasons
)

SELECT 
    s.recommendation,
    s.total_records,
    ROUND((s.total_records * 100.0 / g.total_count), 2) as percentage_of_total,
    s.avg_confidence,
    s.min_confidence,
    s.max_confidence
FROM summary_stats s
CROSS JOIN grand_total g;

GO
/****** Object:  View [dbo].[vw_detailed_match_reasons]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_detailed_match_reasons] AS
SELECT 
    recommendation,
    match_reason,
    COUNT(*) as count_occurrences,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY recommendation)), 2
    ) as percentage_within_recommendation,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER ()), 2
    ) as percentage_of_total
FROM veridion_analysis_best_matches
WHERE match_reason IS NOT NULL
GROUP BY recommendation, match_reason;

GO
/****** Object:  Table [dbo].[veridion_analysis_entity_resolution]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veridion_analysis_entity_resolution](
	[input_row_key] [varchar](255) NULL,
	[veridion_id] [varchar](255) NULL,
	[candidate_name] [varchar](255) NULL,
	[name_similarity] [float] NULL,
	[geographic_match] [float] NULL,
	[business_context] [float] NULL,
	[overall_confidence] [float] NULL,
	[recommendation] [varchar](255) NULL,
	[match_reason] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_match_reasons_analysis_all]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_match_reasons_analysis_all] AS
WITH split_reasons AS (
    SELECT 
        input_row_key,
        veridion_id,
        candidate_name,
        name_similarity,
        geographic_match,
        business_context,
        overall_confidence,
        recommendation,
        match_reason,    
        LTRIM(RTRIM(value)) AS reason_component
    FROM veridion_analysis_entity_resolution
    CROSS APPLY STRING_SPLIT(match_reason, '|')
    WHERE match_reason IS NOT NULL 
    AND LTRIM(RTRIM(value)) != ''
),

cleaned_reasons AS (
    SELECT 
        input_row_key,
        veridion_id,
        candidate_name,
        name_similarity,
        geographic_match,
        business_context,
        overall_confidence,
        recommendation,
        match_reason,
        reason_component
    FROM split_reasons
)

SELECT 
    recommendation,
    reason_component,
    COUNT(*) as frequency,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (PARTITION BY recommendation)), 2
    ) as percentage_within_recommendation,
    ROUND(
        (COUNT(*) * 100.0 / SUM(COUNT(*)) OVER ()), 2
    ) as percentage_of_total
FROM cleaned_reasons
GROUP BY recommendation, reason_component;

GO
/****** Object:  Table [dbo].[presales_data_sample]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presales_data_sample](
	[input_row_key] [bigint] NULL,
	[input_company_name] [varchar](max) NULL,
	[input_main_country_code] [varchar](max) NULL,
	[input_main_country] [varchar](max) NULL,
	[input_main_region] [varchar](max) NULL,
	[input_main_city] [varchar](max) NULL,
	[input_main_postcode] [varchar](max) NULL,
	[input_main_street] [varchar](max) NULL,
	[input_main_street_number] [varchar](max) NULL,
	[veridion_id] [varchar](max) NULL,
	[company_name] [varchar](max) NULL,
	[company_legal_names] [varchar](max) NULL,
	[company_commercial_names] [varchar](max) NULL,
	[main_country_code] [varchar](max) NULL,
	[main_country] [varchar](max) NULL,
	[main_region] [varchar](max) NULL,
	[main_city] [varchar](max) NULL,
	[main_postcode] [varchar](max) NULL,
	[main_street] [varchar](max) NULL,
	[main_street_number] [varchar](max) NULL,
	[main_latitude] [float] NULL,
	[main_longitude] [float] NULL,
	[locations] [varchar](max) NULL,
	[num_locations] [float] NULL,
	[company_type] [varchar](max) NULL,
	[year_founded] [float] NULL,
	[revenue] [float] NULL,
	[revenue_type] [varchar](max) NULL,
	[employee_count] [float] NULL,
	[employee_count_type] [varchar](max) NULL,
	[generated_description] [varchar](max) NULL,
	[generated_business_tags] [varchar](max) NULL,
	[short_description] [varchar](max) NULL,
	[long_description] [varchar](max) NULL,
	[business_tags] [varchar](max) NULL,
	[naics_2022_primary_code] [float] NULL,
	[naics_2022_primary_label] [varchar](max) NULL,
	[naics_2022_secondary_codes] [float] NULL,
	[naics_2022_secondary_labels] [varchar](max) NULL,
	[main_business_category] [varchar](max) NULL,
	[main_industry] [varchar](max) NULL,
	[main_sector] [varchar](max) NULL,
	[sics_codified_industry] [varchar](max) NULL,
	[sics_codified_industry_code] [varchar](max) NULL,
	[sics_codified_subsector] [varchar](max) NULL,
	[sics_codified_subsector_code] [varchar](max) NULL,
	[sics_codified_sector] [varchar](max) NULL,
	[sics_codified_sector_code] [varchar](max) NULL,
	[sic_codes] [varchar](max) NULL,
	[sic_labels] [varchar](max) NULL,
	[ibc_insurance_labels] [varchar](max) NULL,
	[isic_v4_codes] [varchar](max) NULL,
	[isic_v4_labels] [varchar](max) NULL,
	[nace_rev2_codes] [varchar](max) NULL,
	[nace_rev2_labels] [varchar](max) NULL,
	[ibc_insurance_codes] [varchar](max) NULL,
	[primary_phone] [float] NULL,
	[phone_numbers] [varchar](max) NULL,
	[primary_email] [varchar](max) NULL,
	[emails] [varchar](max) NULL,
	[other_emails] [varchar](max) NULL,
	[website_url] [varchar](max) NULL,
	[website_domain] [varchar](max) NULL,
	[website_tld] [varchar](max) NULL,
	[website_language_code] [varchar](max) NULL,
	[facebook_url] [varchar](max) NULL,
	[twitter_url] [varchar](max) NULL,
	[instagram_url] [varchar](max) NULL,
	[linkedin_url] [varchar](max) NULL,
	[ios_app_url] [varchar](max) NULL,
	[android_app_url] [varchar](max) NULL,
	[youtube_url] [varchar](max) NULL,
	[tiktok_url] [float] NULL,
	[technologies] [varchar](max) NULL,
	[created_at] [varchar](max) NULL,
	[last_updated_at] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[veridion_analysis_quality_issues]    Script Date: 03/08/2025 05:37:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[veridion_analysis_quality_issues](
	[veridion_id] [varchar](255) NULL,
	[company_name] [varchar](255) NULL,
	[issues] [varchar](1000) NULL
) ON [PRIMARY]
GO
